/* SOME STYLES */
body {
  background: #5da57b93; /* fallback for old browsers */
  /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; */
  /* background-blend-mode: multiply, multiply; */
  /* height: 100%; */
  width: 100%;
  height: 100%;
}
/* .app {
  width: 100%;
} */
.homeScreen {
  border: 2px rgba(255, 255, 255, 0.829) solid;
  padding-bottom: 7px;
  width: 50%;
  margin-top: 100px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.App {
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
/*---------------------*/
.radio {
  width: 100%;
}

.container {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-top: 20px;
  margin: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 50px;
  background-color: #eee;
  border-radius: 0%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a gray background */
.container input:checked ~ .checkmark {
  background-color: rgb(118, 120, 122);
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

label {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin-bottom: 1%;
  background-color: rgba(255, 255, 255, 0.829);
}
form {
  border-radius: 1%;
  background-color: rgba(255, 255, 255, 0.829);
  display: inline-block;
  width: 50%;
  height: auto;
  justify-content: center;
  margin-top: 100px;
  border: 2px white solid;
  padding-top: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
small {
  font-size: 50%;
}
.disa {
  margin-right: 50%;
}
input[type="radio"]:checked {
  background-color: green;
  border-radius: 25px;
}
.signup {
  background-color: transparent;
  border-color: transparent;
}
.Modal {
  background-color: yellow;
}
/*DELETE THESE AT SOMEPOINT**/
a {
  margin: 10px;
  text-decoration: none !important;
  color: black;
}
a:hover {
  color: white;
}
.choice {
  display: flex;
  justify-content: center;
}
.login {
  border: 2px rgba(255, 255, 255, 0.829) solid;
  padding-bottom: 7px;
  width: 40%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 1%;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 5px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.questionSet {
  width: 90%;
  margin-top: 5px;
  padding-top: 3%;
  background-color: rgba(255, 255, 255, 0.829);
  display: inline-block;
  position: relative;
  align-items: center;
  justify-content: center;
}
.ans-button {
  width: 30%;
  margin: auto;
}
.ans-button:hover {
  background-color: white;
}
.Form-button {
  border: rgb(118, 120, 122) 2px solid;
  transition: 0.5s;
  text-decoration: none !important;
  background-color: rgb(148, 150, 151);
  border-radius: 5%;
  width: 10%;
  padding-left: 15px;
  padding-right: 15px;
}
.Form-button:hover {
  background-color: rgb(88, 87, 87);
  color: white;
}
.addCan {
  border: 2px rgba(255, 255, 255, 0.829) solid;
  padding-bottom: 7px;
  margin-top: 50px;
  width: 40%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.filled-form {
  width: auto;
  display: inline-block;
}
.homeNav {
  width: auto;
  background-color: rgba(255, 255, 255, 0.829);
}
.homeNav a {
  color: black !important;
}
.candidateSuggestions {
  border: 2px rgba(255, 255, 255, 0.829) solid;
  padding-bottom: 7px;
  width: 50%;
  margin-top: 100px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pic {
  width: 18%;
  border-radius: 50%;
  /* height: 10%; */
}
.candidateSuggestionCenter {
  display: flex;
  /* border: purple solid 2px; */
  justify-content: right;
}
.white:hover {
  color: blue;
}
#candidate {
  border-bottom: solid black 2px;
}
.profileForm {
  border-radius: 1%;
  background-color: rgba(255, 255, 255, 0.829);
  display: inline-block;
  width: 40%;
  height: auto;
  justify-content: left;
  border: 2px white solid;
  padding-top: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
