/* SOME STYLES */
body {
  background: #D3CCE3;  /* fallback for old browsers */
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
}
.homeScreen {
  border: 2px rgba(255, 255, 255, 0.829) solid;
  padding-bottom: 7px;
  width: 50%;
  margin-top: 100px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 1%;
}
.App {
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
/*---------------------*/
.radio {
  width:100%;
}

.container {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-top: 20px;
  margin: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 50px;
  background-color: #eee;
  border-radius: 0%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: green;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

label {
  display:block;
  width: 100%;
  text-align:center;
  margin-bottom: 1%;
}
form {
  border-radius: 1%;
  background-color: rgba(255, 255, 255, 0.829);
  display: grid;
  width: 50%;
  height: auto;
  justify-content: center;
  margin-left: 25%;
  margin-top: 100px;
  border: 2px white solid;
  padding-top: 1%;
}
small {
  font-size: 50%;
}
.disa {
  margin-right: 35%;
}
input[type="radio"]:checked {
  background-color: green;
  border-radius: 25px;
}
.signup {
  background-color: transparent;
  border-color: transparent;
}
.Modal {
  background-color: yellow;
}
/*DELETE THESE AT SOMEPOINT**/
a {
  margin: 10px;
  text-decoration: none !important;
  color: black;
}
a:hover {
  color: white;
}
.choice{
  display: flex;
  justify-content: center;
}
.login {
  border: 2px rgba(255, 255, 255, 0.829) solid;
  padding-bottom: 7px;
  width: 40%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 1%;
}
input[type=email], input[type=password] {
  width: 100%;
  padding: 5px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.questionSet {
  width: 90%;
  margin-top: 5px;
  padding-top: 3%;
  margin-left: 35px;
  margin-right: 450px;
  background-color: rgba(255, 255, 255, 0.829);
  position: relative;
  display: inline-block;
}
.ans-button {
  width: 30%;
  margin: auto;
}
.ans-button:hover {
  background-color: white;
}
.Form-button {
  border: rgb(118, 120, 122) 2px solid;
  transition: 0.5s;
  color: black;
  text-decoration: none !important;
  padding-left: 15px;
  padding-right: 15px;

}
.Form-button:hover {
  background-color: rgb(118, 120, 122);
  color: white;
}
.addCan {
  border: 2px rgba(255, 255, 255, 0.829) solid;
  padding-bottom: 7px;
  margin-top: 50px;
  width: 40%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 1%;
}
.filled-form{
  width: auto;
  display: inline-block;
}
.homeNav {
  width: auto;
  background-color: rgba(255, 255, 255, 0.829);
}
.homeNav a {
  color: black !important;
}


